<template>
    <h1>{{ getBoardTitle() }}</h1>
    <div class="row flex-nowrap">
      <List :board-id="getBoardIdByRouteQuery()"/>
    </div>
</template>

<script>
import {useRoute} from 'vue-router';
import List from "@/components/List";

export default {
  name: 'Detail',
  components: {
    List
  },
  setup() {
    const route = useRoute();

    const getBoardIdByRouteQuery = () => route.query.id;
    const getBoardTitle = () => route.params.id;

    return {
      getBoardIdByRouteQuery,
      getBoardTitle
    };
  }
}
</script>
