<template>
    <h1>Homepage</h1>
    <div class="row">
      <Boards/>
    </div>
</template>

<script>
import Boards from "@/components/Boards";

export default {
  name: 'Home',
  components: {
    Boards
  }
}
</script>
