<template>
  <div class="col-md-4 mb-3" v-for="(board, key) in boards"
       :key="key">
    <EntityVisual>
      <router-link :to="{ path: '/' + board.name, query: { id: key }}">{{board.name}}</router-link>
    </EntityVisual>
  </div>
  <div class="col-md-4 mb-3">
    <EntityInput/>
  </div>
</template>

<script>
import EntityVisual from './EntityVisual.vue';
import EntityInput from "./EntityInput.vue";
import {boards, fetchBoardsData} from "../api/fetchData";

export default {
  name: 'Boards',
  components: {
    EntityInput,
    EntityVisual
  },
  setup() {
    fetchBoardsData();

    return {
      boards
    }
  },
}
</script>

<style scoped>
  input {
    height: 64px;
  }
</style>