<template>
    <input
        type="text"
        v-model="name"
        @keyup.enter="createEntity">
</template>

<script>
import {ref} from 'vue';
import {postData} from '../api/postData';

export default {
  name: "EntityInput",
  props: {
    boardId: {
      type: String,
    },
    listId: {
      type: String,
    }
  },
  setup(props) {
    const name = ref('');

    const createEntity = function () {
      const data = {name: name.value};

      if (props.boardId && !props.listId) {
        // create list in board
        postData(`/boards/${props.boardId}/lists/.json`, data,{boardId: props.boardId})
      } else if (props.boardId && props.listId) {
        // create item in list
        postData(`/boards/${props.boardId}/lists/${props.listId}/items/.json`, data,{boardId: props.boardId})
      } else {
        // create board
        postData(`/boards.json`, data);
      }

      name.value = '';
    }

    return {
      createEntity,
      name
    }
  }
}
</script>

<style lang="scss">
  input {
    outline: none;
    border: 2px solid $primary;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
  }
</style>