<template>
  <div class="entity-visual bg-green"
       :class="addClass">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "EntityVisual",
  props: {
    addClass: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss">
.bg-green {
  background: $primary;
}

.entity-visual {
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.10);
}

a {
  color: black !important;
  text-decoration: none !important;
  padding: 20px;
  display: block;
}
</style>