<template>
    <div class="col-md-4 mb-3 py-3"
         v-for="(list, key) in lists"
         :key="key">
      <div class="bg-grey p-3">
        <h3 class="mb-3"><strong>{{ list.name }}</strong></h3>
        <Tasks :items="list.items"
                  :board-id="boardId"
                  :list-id="key"/>
      </div>
    </div>
    <div class="col-md-4 p-3">
      <EntityInput :board-id="boardId"/>
    </div>
</template>

<script>
import Tasks from "./Tasks";
import EntityInput from "./EntityInput.vue";
import {lists, fetchListsData} from "../api/fetchData";

export default {
  name: "List",
  components: {
    EntityInput,
    Tasks
  },
  props: {
    boardId: {
      type: String
    }
  },
  setup(props) {
    fetchListsData(props.boardId);

    return {
      lists
    }
  },
}
</script>

<style lang="scss" scoped>
.bg-grey {
  background-color: #ededed;
}
</style>