<template>
  <div v-for="(item, key) in items"
       :key="key"
       class="mb-3">
    <EntityVisual :add-class="'py-2 px-3'">
      {{ item.name }}
    </EntityVisual>
  </div>
  <EntityInput :board-id="boardId" :list-id="listId"/>
</template>

<script>
import EntityInput from "./EntityInput.vue";
import EntityVisual from "./EntityVisual.vue";

export default {
  name: "Tasks",
  components: {
    EntityInput,
    EntityVisual
  },
  props: {
    boardId: {
      type: String
    },
    listId: {
      type: String
    },
    items: {
      type: Object,
      default: () => {
      }
    },
  },
}
</script>